.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5b5;
}

.headerLogo {
    width: 60px;
    height: 50px;
}

.left {
    display: flex;
    flex-direction: row;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}